@model IPagedList<BlogSystem.Domain.Models.ApplicationUser>

@using PagedList;
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

@Html.ValidationSummary()

<table class="table">
    <tr>
        <th>
            Profile:
        </th>
        <th>
            Email
        </th>

        <th>
            Username
        </th>
        <th>
            Name
        </th>
        <th>Is Admin:</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        var manager = this.Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
        var role = manager.GetRoles(item.Id).FirstOrDefault();

        <tr>
            <td>
                @Html.ActionLink("See", "Index", new { controller = "Profile", area = "", username = item.UserName }, new { @class = "btn btn-primary" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (role == BlogSystem.Domain.Utils.GlobalConstants.AdministratorRole)
                {
                    @:Yes

                }
                else
                {
                    @:No
                }
            </td>
            <td>
                @if (role == BlogSystem.Domain.Utils.GlobalConstants.AdministratorRole)
                {
                    @Html.ActionLink("Remove Admin", "Unadmin", new { id = item.Id }) @:|

                }
                else
                {
                    @Html.ActionLink("Make Admin", "Adminise", new { id = item.Id }) @:|
                }


                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page = page }))

@Html.ActionLink("Restore users", "Restore")
