@using BlogSystem.Web.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Blogger</h1>
    <p class="lead">My Blogger is a blog system for people with different interests, who want to unleash their creative self.</p>
    <p>
        @if (!this.User.Identity.IsAuthenticated)
            {
            @Html.ActionLink("Try it!", "Register", new { controller = "Account" }, new { @class = "btn btn-primary btn-lg" })
        }

    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Latest:</h2>
        @Html.Action("LatestPosts", new { controller = "Post", count = BlogSystem.Domain.Utils.GlobalConstants.HomePageTopPostsCount })
        @Html.ActionLink("See more", "List", new { controller = "Post", byDate = true, byRating = false })
    </div>
    <div class="col-md-6">
        <h2>Top:</h2>
        @Html.Action("TopPosts", new { controller = "Post", count = BlogSystem.Domain.Utils.GlobalConstants.HomePageTopPostsCount })
        @Html.ActionLink("See more", "List", new { controller = "Post", byRating = true, byDate = false })
    </div>

</div>