@model BlogSystem.Domain.Models.Post
@Html.HiddenFor(m => m.PostId)
    <div class="form-group">
        <label>
            @Model.Title
        </label>

        @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control" })
        @Html.ValidationMessage(Model.Title)
    </div>

    <div class="form-group">
        <label>
            @Model.Subtitle
        </label>

        @Html.TextBoxFor(m => m.Subtitle, null, new { @class = "form-control" })
        @Html.ValidationMessage(Model.Title)
    </div>

    <div class="form-group">
        <label>
            @Model.Text
        </label>

        @Html.TextAreaFor(m => m.Text, 1, 50, new { @class = "form-control" })
        @Html.ValidationMessage(Model.Title)
    </div>
