@model BlogSystem.Domain.Models.Post
@{
    var anyErrors = ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Any();
}

@if (anyErrors)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}

@Html.HiddenFor(m => m.PostId)
<div class="form-group">
    <label>
        Title
    </label>
    @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control" })

</div>

<div class="form-group">
    <label>
        Subtitle
    </label>
    @Html.TextBoxFor(m => m.Subtitle, null, new { @class = "form-control" })
</div>

<div class="form-group">
    <label>
        Text
    </label>

    @Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = 15, cols = 22 })
</div>
